nav {
    display: flex;
    justify-content: space-between;
    padding:5vh 8vw;
    align-items: center;
    & ul {
        display: flex;
        gap: 5vw;
        
        & a {
                text-decoration: none;
                font-weight: bold;
        }
    }
    .bi{
        border-radius: 5px;
        font-size: x-large;
    }
    #sec{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        transition: all 0.5s;
    }
}
