* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.mainBtn {
    background-color: #27a1fc;
    color: white;
    border-radius: 5px;
    padding: 8px 13px;
    border: none;
    font-size: 18px;
}
.secBtn {
    background-color: transparent;
    font-size: 18px;
    border: none;
}
.mainHeading {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.cursiveHeading {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#cardIcon{
    color: black;
    font-weight: bold;
}