#work {
    display: flex;
    color: white;
    gap: 30px;
    justify-content: space-evenly;
    padding: 5vw;
    .card {
        width: 27vw;
        border-radius: 10px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 40px;
        span{
                text-align: center;
                h1{
                        padding: 15px;
                }
        }
        i{
                font-size: 70px;
        }
    }
}
