#header {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 3vw;
    #textBox {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        #textArea {
            display: flex;
            flex-direction: column;
            gap: 0px;
            line-height: 1;
            margin: 0;
            padding: 0;
            
            align-items: start;
            .mainHeading {
                font-size: 6vw;
            }
            .cursiveHeading {
                font-size: 2vw;
                padding: 15px 0;
            }
        }

        #buttonArea {
            display: flex;
            gap: 15px;
            padding: 10px;
            align-items: center;
            & button {
                font-weight: bold;
            }
        }
        #IconBox {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 5vw;
            padding: 5vw 0;
            overflow: hidden;
            & img {
                width: 4vmax;
                scale:1.01;
            }
        }
    }
    #imageBox {
        & img {
            width: 35vmax !important;
            border-radius: 50%;
            box-shadow: 0 0 15px 1px #27a1fc;
            transition: box-shadow 0.5s;
        }
        & img:hover {
            border-radius: 50%;
            box-shadow: 0 0 15px 10px #27a1fc;
        }
    }
}

@media screen and (max-width: 600px) {
    #header {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        #textArea {
            padding: 10px 100px;
            .mainHeading {
                font-size: 14vw !important;
            }
            .cursiveHeading {
                font-size: 5vw !important;
                padding: 15px 0;
            }
        }
        #imageBox {
            width: 100%;
            img {
                width: 90%;
            }
        }
        & div {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        button {
            font-size: small;
        }

        #IconBox {
            padding:  50px 0 !important;
            justify-content: space-evenly;
            width: 100%;
            gap: 0 !important;
        }
    }
}
