nav {
    display: flex;
    justify-content: space-between;
    padding:5vh 8vw;
    align-items: center;
    img{
        border-radius: 50%;
    }
    & ul {
        display: flex;
        gap: 5vw;
        
        & a {
                text-decoration: none;
                font-weight: bold;
        }
    }
    .bi{
        border-radius: 5px;
        font-size: x-large;
    }
    #sec{
        display: flex;
        background-color: black !important;
        flex-direction: column;
        border-radius: 10px;
        position: absolute;
        top: 90px;
        right: 0;
        justify-content: space-evenly;
        transition: all 0.5s;
        z-index: 1;
        padding: 10px;
        a,li{
            padding: 20px;
        }
        li{
            width: 100%;
        }
        a:hover{
            background-color: white !important;
            color: rgb(15, 15, 15) ;
            color: black ;
            color: black ;
            color: black ;
        }
    }
}
