#work{
        display: flex;
        flex-direction: column;
        padding: 5vw;
        h1{
                font-size: xx-large;
        }
}


#work div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;padding: 3vw;
        justify-content: space-between;
        gap: 30px;
        img{
                width: 20%;aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 10px;
                box-shadow: 3px 3px 10px 5px rgba(128, 128, 128, 0.209);
                transition: all 0.5s;
        }
        img:hover{
                transform: scale(1.1);
        }
}