footer {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 3vw;
    color: white;
    gap: 10px !important;
    div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        padding: 10px 50px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}
