#work,#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    background-color: #efefef;
    padding: 5vw;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vw;
        h1 {
            font-size: 4vmax;
            text-align: center;
        }
        p {
            letter-spacing: 2px;
        }
    }
    #cards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        .card {
            width: 25vmax;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            gap: 0px;
            h1 {
                font-size: 30px;
                text-align: center;
            }
            p{
                text-align: center;
            }
            img,i {
                width: 200px;
                font-size: 180px;
                padding: 10px;
            }
        }
    }
    button {
        background-color: #3894ff;
        color: white;
        padding: 10px 20px;
        font-size: x-large;
        border-radius: 10px;
        border: none;
        margin: 10px;
    }
}


#services{
    background-color: white;
    .card{
        width: 29vmax;
    }
}


@media screen and (max-width:800px) {
        #work,#services{
                height: min-content;
        }
}


