#header {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: space-between;
    align-items: end;
    main {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: end;
        justify-content: space-between;
        align-items: center;
        div {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 70px;
            h1 {
                font-size: 5vmax;
            }
        }

        #mainImg {
            height: 100%;
            object-fit: contain;
        }

        #logoBox {
            img {
                margin: 20px;
                width: 3vw;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    main {
        flex-wrap: wrap;

        div {
            gap: 0 !important;
            width: 100vw !important;
            padding: 0 10vw;
        }

        #logoBox {
            img {
                width: 5vw !important;
            }
        }
    }
}
