#myWork {
    h1 {
        padding: 5vw;
        font-size: 4vmax;
    }
    section {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        animation: rightAnimattio 150s linear infinite;
        img {
            width: 300px;
        }
    }
}

@keyframes rightAnimattio {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(0%);
    }
    70% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
